@import url("../fonts/fonts/stylesheet.css");
h1, h2, h3, h4, h5, h6, p, a, span {
  color: #EFEFEF;
}

h1, h2, h3 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h5 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h6 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 10px;
}

p {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

a {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  color: #EFEFEF;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0c0c0c;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  font-size: 12px;
}
.navbar ul li a {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  padding: 7px 0px;
}
.navbar ul li a:hover {
  color: #EFEFEF;
  border-bottom: 1px solid #F6BE2C;
}

.header {
  background-image: url(../img/background-min.png);
  background-size: cover;
  background-position-y: 99%;
  height: 900px;
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo img {
  height: 80px;
  width: 80px;
}
.header-logo ul {
  margin: 0 0 0 20px;
  padding: 0;
}
.header-logo ul li {
  list-style: none;
  color: #EFEFEF;
}
.header-link {
  height: 60px;
  text-align: center;
}
.header-link a img {
  width: 32px;
  height: 32px;
}
.header-phone {
  height: 60px;
  text-align: right;
}
.header-phone a {
  font-size: 20px;
  color: #F6BE2C;
}
.header-phone a:hover {
  color: #EFEFEF;
}
.header-title {
  margin-top: 200px;
}
.header-title h1 span {
  color: #F6BE2C;
}
.header-title h3 {
  margin-top: 20px;
}